In [ ]:
# for each json file in output/results_q2e, do the following stuff
# take average for all values in the json file
# use the name of the json file (without json) as the name for the evaluation metrics
# in a csv file, the first column is the model name, for this row is q2e, the remaining is the evaluation metrics

import os
import json
import csv
import numpy as np

# do not define function
# begin
# there should be a header in csv file
mode = "q2d"
domain = ""
metrcis_name_list = []
score_list = []
for dir in os.listdir(f"output/{domain}"):

for file in os.listdir(f"output_hotel/results_{mode}"):
    if file.endswith(".json"):
        with open(f"output_hotel/results_{mode}/" + file, "r") as f:
            data = json.load(f)
            metrics_name = file.split(".")[0]
            # take average for all values in the json file
            
            # by taking average, i mean take average for value for all key
            average_score = np.mean(list(data.values()))

            metrcis_name_list.append(metrics_name)
            score_list.append(average_score)

# write to csv file
# with open("output_hotel/hotel_evaluation_results.csv", "w", newline="") as f:
#     writer = csv.writer(f)
#     writer.writerow(["model"] + metrcis_name_list)
#     writer.writerow([f"{mode}"] + score_list)

with open("output_hotel/hotel_evaluation_results.csv", "a", newline="") as f:
    writer = csv.writer(f)
    # writer.writerow(["model"] + metrcis_name_list)
    writer.writerow([f"{mode}"] + score_list)

In [27]:
# print table evaluation results in pandas
import pandas as pd
df = pd.read_csv("output_hotel/hotel_evaluation_results.csv")
df

,model,recall_at100,recall_at50,recall_at10,recall_at30,map_at30,rprecision,map_at10,map_at100,map_at50
0,none,0.44269,0.231474,0.050009,0.141999,0.536409,0.428674,0.600622,0.477905,0.507312
1,none,0.44067,0.240778,0.049265,0.152992,0.310719,0.223222,0.374085,0.265257,0.290795
2,q2d,0.51171,0.288892,0.071875,0.190249,0.386994,0.254371,0.445624,0.313187,0.358038

In [63]:
# print table evaluation results in pandas
import pandas as pd
df = pd.read_csv("output_hotel/hotel_evaluation_results.csv")
df

,model,recall_at100,map_at20,recall_at50,recall_at10,recall_at30,map_at5,map_at30,rprecision,map_at10,map_at100,map_at50,recall_at20,recall_at5
0,none,0.361372,0.284222,0.198018,0.062024,0.135292,0.337117,0.155387,0.090081,0.171538,0.119714,0.144459,0.130464,0.048856
1,eqr_10,0.516947,0.334613,0.139212,0.239743,0.263278,0.142751,0.324942,0.193347,0.226659,NaN,NaN,NaN,NaN

In [9]:
# read from data/restaurant_queries.txt

# load json data/ground_truth/restaurant_truth.json

import json

with open("data/ground_truth/restaurant_truth.json", "r") as f:
    ground_truth = json.load(f)

len(ground_truth)

49

In [1]:
# for each json file in output/results_q2e, do the following stuff
# take average for all values in the json file
# use the name of the json file (without json) as the name for the evaluation metrics
# in a csv file, the first column is the model name, for this row is q2e, the remaining is the evaluation metrics

import os
import json
import csv
import numpy as np

# do not define function
# begin
# there should be a header in csv file
mode = "q2d"

metrcis_name_list = []
score_list = []
for file in os.listdir(f"output_restaurant/results_{mode}"):
    if file.endswith(".json"):
        with open(f"output_restaurant/results_{mode}/" + file, "r") as f:
            data = json.load(f)
            metrics_name = file.split(".")[0]
            # take average for all values in the json file
            
            # by taking average, i mean take average for value for all key
            average_score = np.mean(list(data.values()))

            metrcis_name_list.append(metrics_name)
            score_list.append(average_score)

# # write to csv file
# with open("output_restaurant/restaurant_evaluation_results.csv", "w", newline="") as f:
#     writer = csv.writer(f)
#     writer.writerow(["model"] + metrcis_name_list)
#     writer.writerow([f"{mode}"] + score_list)

with open("output_restaurant/restaurant_evaluation_results.csv", "a", newline="") as f:
    writer = csv.writer(f)
    # writer.writerow(["model"] + metrcis_name_list)
    writer.writerow([f"{mode}"] + score_list)

In [2]:
import pandas as pd
df = pd.read_csv("output_restaurant/restaurant_evaluation_results.csv")
df

,model,recall_at100,recall_at50,recall_at10,recall_at30,map_at30,rprecision,map_at10,map_at100,map_at50
0,none,0.161952,0.091198,0.022364,0.059550,0.698759,0.459462,0.793919,0.631962,0.668802
1,q2e,0.177566,0.105253,0.028187,0.070438,0.771333,0.490528,0.836964,0.706913,0.742340
2,eqr,0.171471,0.102124,0.025478,0.067130,0.748541,0.476192,0.808083,0.684478,0.722708
3,eqr_8,0.176855,0.103329,0.026480,0.068140,0.745946,0.476594,0.793203,0.684467,0.721965
4,eqr_5,0.178199,0.102031,0.028825,0.066453,0.775026,0.477910,0.831872,0.696232,0.740708
5,eqr_3,0.175123,0.101545,0.027796,0.066473,0.771031,0.477423,0.840622,0.698302,0.738671
6,q2d,0.158089,0.091373,0.024115,0.060851,0.711510,0.455706,0.776799,0.647801,0.685644

In [80]:
import pandas as pd
df = pd.read_csv("output_restaurant/restaurant_evaluation_results.csv")
df

,model,recall_at100,recall_at50,recall_at10,recall_at30,map_at30,rprecision,map_at10,map_at100,map_at50
0,none,0.156309,0.089136,0.020876,0.059896,0.686302,0.449284,0.76827,0.625161,0.662235

In [82]:
import pandas as pd
df = pd.read_csv("output_restaurant/restaurant_evaluation_results.csv")
df

,model,recall_at100,recall_at50,recall_at10,recall_at30,map_at30,rprecision,map_at10,map_at100,map_at50
0,none,0.161952,0.091198,0.022364,0.05955,0.698759,0.459462,0.793919,0.631962,0.668802